common/pulp_openstack/common/pulp_image_manifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pulp_image_manifest" type="pulp_image_manifestType"/>
  <xs:complexType name="pulp_image_manifestType">
    <xs:sequence>
      <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="image_checksum" type="xs:string"/>
            <xs:element name="image_container_format" type="xs:string"/>
            <xs:element name="image_disk_format" type="xs:string"/>
            <xs:element name="image_filename" type="xs:string"/>
            <xs:element name="image_min_disk" type="xs:int"/>
            <xs:element name="image_min_ram" type="xs:int"/>
            <xs:element name="image_name" type="xs:string"/>
            <xs:element name="image_size" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
  </xs:complexType>
</xs:schema>

